<div class="markdown-body">
    <h1 id="toc_0">VPSNY Privacy Statement</h1>

    <p>Your privacy is important to us. This privacy statement explains the personal data vpsny processes, how vpsny
        processes it, and for what purposes.</p>

    <h2 id="toc_1">What type of data is collected?</h2>

    <p>Anonymous usage data pertaining to what app version is installed, user retention metrics, demographics, region,
        and what screens you navigate to within vpsny and how long you stay on the screens is collected using Google
        Firebase&#39;s Analytics tool.</p>

    <p>Anonymous usage data pertaining to the device&#39;s current operating system(OS), jailbreak status, battery
        level, memory, disk space, device orientation, and current app version is collected using Google Firebase&#39;s
        Crashlytics crash reporting tool.</p>

    <p>Data we collect, process, and store using Google Analytics (&quot;Google Analytics data&quot;) is secure and
        kept confidential. This data is used to maintain and protect the Google Analytics service, to perform system
        critical operations, and in rare exceptions for legal reasons as described in Google&#39;s privacy policy.</p>

    <h2 id="toc_2">How long is my analytics data stored?</h2>

    <p>Anonymous data is stored in Google Firebase Analytics for 14 months before being automatically removed.</p>

    <h2 id="toc_3">How do I opt-out of data collection?</h2>

    <p>You can opt-out easily within the app either during initial setup or by click on the &quot;More&quot; tab &gt;
        Settings &gt; click the toggles for analytics and crash reporting.</p>

    <h2 id="toc_4">How do I exercise my right to be forgotten?</h2>

    <p>To exercise your right to be forgotten, you need to request Google remove your data.</p>

    <h2 id="toc_5">Who is my data shared with?</h2>

    <p>We share Google Analytics data with Google to help improve Google&#39;s products and services. We contribute
        anonymous data to an aggregate data set controlled by Google to enable features like benchmarking and
        publications that can help us understand data trends. We let Google technical support representatives access
        our Google Analytics data and account when necessary to provide service and find solutions to technical issues.
        We give Google marketing specialists access to our Google Analytics data and account so they can find ways to
        improve our configuration and analysis, and share optimization tips with us. Your data will never be sold to a
        third-party for a profit.</p>

    <h2 id="toc_6">Further questions?</h2>

    <p>Feel free to contact us at <a href="mailto:limaofeng@msn.com">limaofeng@msn.com</a> and we would be more than
        happy to answer your questions!</p>

</div>